<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DellHardwareMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout" >
                <conversionPattern value="%date [%thread] %level %type.%method - %message%newline" />
            </layout>
        </appender>
        <appender name="NoEmptyRollingFileAppender" type="DellHardwareMonitor.NoEmptyRollingFileAppender">
            <file value="C:\Users\luv\Desktop\DellHardwareMonitorLogs\DellHardwareMonitor.log" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <encoding value="utf-8" />
            <!-- Roll back every day -->
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <!--<appendToFile value="false" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="-1" />-->
            <layout type="log4net.Layout.PatternLayout" >
                <conversionPattern value="%date [%thread] %level %type.%method - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="NoEmptyRollingFileAppender" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
    <userSettings>
        <DellHardwareMonitor.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PollingInterval" serializeAs="String">
                <value>2000</value>
            </setting>
        </DellHardwareMonitor.Properties.Settings>
    </userSettings>
</configuration>